
<h1>Pirate</h1>
<h2>Name: <%=@pirate.name%></h2>
<ul>
    <li>Weight: <%=@pirate.weight%></li>
    <li>Height: <%=@pirate.height%></li>
</ul>

<h2>Ship  #1 </h2>
<ul>
    <li>Name: <%=@ships[0].name%></li>
    <li>Type: <%=@ships[0].type%></li>
    <li>Booty: <%=@ships[0].booty%></li>
</ul>


<h2>Ship  #2 </h2>
<ul>
    <li>Name: <%=@ships[1].name%></li>
    <li>Type: <%=@ships[1].type%></li>
    <li>Booty: <%=@ships[1].booty%></li>
</ul>
